@media screen and (min-width: 1000px){
	.swiper-button-next,.swiper-button-prev{display: none;}
}
@media screen and (max-width: 1000px){
	.btn11{display: block;}
	.header .inner{width: 100%;padding: 0 20px;box-sizing: border-box;}
	#wrapper{overflow-x: hidden !important	;}
	.menu{display: none; position: absolute;right: 0;top: -25px;padding-top: 125px;padding-right: 20px;		 width: 268px;background-color: #232828;z-index: 100;padding-bottom: 48px;	}

	.menu:after{content: '';position: absolute; width: 229px;right: 0;height: 1px; background-color: rgba(255, 255, 255,0.09);top:86px;}
	.menu ul{flex-direction: column;align-items: flex-end;}
	.menu ul li{width: 183px;margin: 0;}
	.menu ul li a{position: relative; display: block; width: 100%;height: 30px;border-bottom: 1px solid rgba(255, 255, 255,0.03)}
	.menu ul li a:after{content: '';position: absolute;right: 0;top: 0;width: 8px;height: 13px;background-image: url(../img/arrow-left.png);top: 3px;}
	.header .row .menu{margin-top: 0;	}
	.header .row .menu li.active a{color: #fff;}
	.header .row .menu li+li{margin-top: 28px;	}
	.header .row .logo{height: 36px;}
	.header .row .langs{margin-left: auto;margin-top: 2px;	 position: relative;z-index: 110;margin-right: 105px;	}
	.footer{padding: 20px 0 15px;}
	.footer .foot-header .down-app{display: flex;}
	.footer .foot-header .langs{margin-right: auto;margin-top: 0;	margin-left: 60px;padding-left: 0;}
	.footer .content-block .left_side{display: none;}
	.footer .bottom-block .down-app{display: none;}
	.footer .bottom-block .copy{display: block;color: #778282;}
	.footer .bottom-block .user-alig{display: none;}

	.footer .bottom-block .develop a{border: none;padding: 0;height: auto;width: auto;text-transform: none;margin-left: 2px;}
	.footer .bottom-block .develop a span{letter-spacing: 0px !important;}
	.footer .content-block .phone-link a{font-size: 20px;line-height: 23px;}
	.footer .content-block .btn-call-modal a{display: none;}
	.top-banner h1{font-size: 25px;line-height: 28px;}
	.footer .content-block{padding: 25px 0;}
	.top-banner .container .title-list,.top-banner .container ul{display: none;}
	.slider-block .item .right_side{padding-left: 60px;}
	.slider-block .item{height: auto;}
	.slider-block .item .left_side{height: auto;}
	.slider-block .item .right_side{min-height: 560px;box-sizing: border-box;padding-top: 15px;padding-bottom: 15px;}
	.slider-block .item .right_side p{margin-top: 30px;}
	.slider-block .item .right_side .panel{position: relative;width: 208px;margin-top: 40px;display: flex;justify-content: space-between;align-items: center;}
	.slider-block .item .right_side .swiper-pagination{position: relative;bottom: auto;right: auto; font-size: 20px;line-height: 24px;color: #778282;}
	.slider-block .item .right_side .swiper-pagination-current{font-size: 20px;line-height: 24px;color: #2ebeb9;opacity: 1;}
	.slider-block .item .right_side .swiper-pagination-total{font-size: 14px;}
	.about-block{min-height: 445px;padding: 80px 0;background-position: center;}
	.about-block .top-title{box-sizing: border-box;padding: 0 15px; font-size: 25px;line-height: 33px;height: auto;background: none;-webkit-clip-path: none;clip-path: none;margin-bottom: 60px;}
	.about-block .top-title span{color: #fff;}
	.about-block .row{justify-content:center;flex-wrap: wrap;}
	.about-block .row > .item{width: 213px;height: 160px;margin: 0 10px 10px;background-image: none !important	;background-color: #1a5d63;padding: 16px !important;box-sizing: border-box;}
	
	.about-block .row .item:nth-child(1){position: relative; bottom:auto;left: auto;width: 213px;}
	.about-block .row .item:nth-child(3){position: relative; height: 160px;width: 213px;-webkit-clip-path: none;clip-path: none;top: auto;left: auto;padding-left: 0;}
	.about-block .row .item:nth-child(2){position: relative; width: 213px;height:160px;-webkit-clip-path: none;clip-path: none;top: auto;right: auto;}
	.about-block .row .item .value{font-size: 50px;line-height: 53px;}

	.about-block .row .item .value .ruble{width: 36px;height: 36px;}
	.about-block .row .item p{font-size: 15px;line-height: 23px;}

	.departing-block{background-image:url(../img/departing-bg--tablet.jpg); }
	.departing-block .container .btn-close{display: none;}
	.departing-block .container .right_side .title-list{margin-bottom: 20px;	}
	.departing-block .container .right_side{padding-top: 448px;	}
	.departing-block h2{font-size: 25px;line-height: 28px;}
	.departing-block p{max-width: 325px;margin: 0 auto;}
	.departing-block .container .left_side p{margin-left: 0;	}

}
@media screen and (max-width: 700px){
	.departing-block{background-image: url(../img/departing-bg--mobile.jpg);padding: 50px 0;}
	.departing-block .container{display: none;}
	.departing-block .mobile-list{display: block;}
	
	.slider-block .item{flex-direction: column;}
	.slider-block .item .right_side{width: 100%;text-align: center;align-items: center;padding: 55px 15px;}
	.slider-block .item .left_side{display: none;}
	.slider-block .item .right_side h3{order: -1;margin-top: 0;font-size: 20px;line-height: 23px;margin-bottom: 45px;}
	.header .row .langs{margin-right: 55px;	}
	.footer .foot-header .logo{display: none;}
	.footer .foot-header{flex-direction: row-reverse;}
	.footer .foot-header .langs{margin-left: auto;margin-right: 0;}
	.footer .bottom-block .develop{display: none;}
}
@media screen and (max-width: 500px){
	.about-block .top-title{font-size: 20px;line-height: 23px;margin-bottom: 30px;	}
	body{font-size: 14px;line-height: 22px;}
	.header{padding-top: 15px;	}
	.header .row {padding-bottom: 15px;	}
	.menu{width: 100%;padding-left: 15px;padding-right: 15px;box-sizing: border-box;	}
	.menu:after{width: 100%;}
	.header .row .menu li{margin: 0;}
	.menu ul{align-items: flex-start;}
	.menu ul li{margin: 0;width: 100%;}
	
}