@media screen and (max-width: 1366px) {
  .header-partners {
    height: 750px !important; }
  .header-partners .header {
    padding-top: 30px; }
  .header-partners .header_sub {
    margin-top: 59px; }
  .header-partners .header_sub .play-btn {
    width: 72px;
    margin-top: 62px; }
  .header-partners .header_sub .text {
    margin: 56px auto 0; }
  .header-partners .header_sub .btn-row {
    margin-top: 116px; }
  .insta-carousel-block .insta-carousel {
    height: 180px; }
  .insta-carousel-block .insta-carousel .item {
    width: 180px;
    height: 180px; }
  .insta-carousel-block .inner {
    margin-top: -180px; }
  .insta-carousel-block .insta-link {
    height: 180px; }
  .insta-carousel-block .insta-link .border-block img {
    width: 32px; }
  .insta-carousel-block .insta-link .border-block .text {
    width: 190px;
    margin-top: 6px;
    margin-bottom: 6px; }
  .insta-carousel-block .insta-link .border-block .text .join {
    margin-top: 12px; }
  .our-products {
    padding-top: 104px;
    padding-bottom: 57px; }
  .our-products .item-1 {
    padding-top: 86px; }
  .our-products .item-1 .img-big {
    margin-top: 61px; }
  .our-products .item-1 .img-big img {
    width: 735px; }
  .our-products .item-1 .tech-block {
    margin-top: 77px; }
  .our-products .item-2 {
    padding-top: 141px; }
  .our-products .item-2 .variants-block {
    margin-top: 64px; }
  .our-products .item-3 {
    padding-bottom: 43px;
    padding-top: 43px; }
  .our-products .item-3 .flex-tech-block {
    margin-top: 50px; }
  .our-products .item-3 .flex-tech-block .tech-block {
    max-height: 330px;
    margin-top: 8px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .our-products .item-3 .flex-tech-block .tech-block .tech-item + .tech-item {
    margin-top: 36px; }
  .our-products .item-3 .flex-tech-block .tech-block .tech-item:nth-child(5) {
    margin-top: 0; }
  .our-products .item-3 .flex-tech-block .tech-block .tech-item:nth-child(n+5) {
    margin-left: 40px; }
  .our-products .item-3 .flex-tech-block .right-block {
    max-width: 478px;
    padding-right: 8%;
    width: 50%; }
  .our-products .item-3 .flex-tech-block .right-block .img-block {
    width: 108px;
    height: 306px; }
  .our-products .item-3 .be-partner-block {
    margin-top: 59px; }
  .its-easy {
    padding-top: 96px;
    padding-bottom: 100px; }
  .its-easy .main-content {
    margin-top: 63px; }
  .its-easy .main-content .easy-grid .easy-item {
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 16% 20px 48px;
    height: auto;
    min-height: 265px; }
  .its-easy .main-content .easy-grid .easy-item.item-1 {
    background-size: 150px;
    background-position: top 32px right -74px; }
  .its-easy .main-content .easy-grid .easy-item.item-2 {
    background-size: 189px;
    background-position: bottom 0 right 0; }
  .its-easy .main-content .easy-grid .easy-item.item-3 {
    background-size: 168px;
    background-position: top 0 right 0; }
  .its-easy .main-content .easy-grid .easy-item.item-4 {
    background-size: 120px;
    background-position: top 32px right 19px; }
  .its-easy .main-content .banner-block {
    margin-top: 60px;
    min-height: 391px;
    padding: 50px 49px 49px;
    background-image: url(../images/images/banner-phone-4.png); }
  .its-easy .main-content .banner-block .banner-list {
    margin-top: 24px; }
  .its-easy .main-content .banner-block .banner-list li {
    padding-left: 46px; }
  .its-easy .main-content .banner-block .text {
    max-width: 560px; }
  .its-easy .main-content .somnenia-block {
    margin-top: 85px; }
  .its-easy .main-content .somnenia-block .somnenia-item {
    margin-bottom: 35px; }
  .its-easy .main-content .somnenia-block .somnenia-item .title {
    margin-top: 31px; }
  .its-easy .main-content .somnenia-block .somnenia-item .text {
    margin-top: 15px; }
  .its-easy .main-content .somnenia-block .somnenia-item .text-sub {
    margin-top: 40px; } }

@media screen and (max-width: 1000px) {
  .header-partners {
    height: 720px !important; }
  .header-partners .header {
    padding-top: 25px; }
  .loader_block {
    display: none; }
  .title-30 {
    font-size: 25px; }
  .title-40 {
    font-size: 40px; }
  .text-style-15 {
    font-size: 14px;
    line-height: 22px; }
  .header-partners .header_sub {
    margin-top: 61px; }
  .header-partners .header_sub h1 {
    line-height: 32px;
    max-width: 450px;
    margin: 0 auto; }
  .header-partners .header_sub .sub-h1 {
    max-width: 380px;
    margin: 0 auto;
    margin-top: 18px;
    line-height: 21px; }
  .header-partners .header_sub .play-btn {
    margin-top: 50px; }
  .header-partners .header_sub .text {
    margin: 45px auto 0; }
  .header-partners .header_sub .btn-row {
    margin-top: 82px; }
  .header-partners .header_sub .btn-row .btn_trans {
    padding: 17px 10px 18px;
    width: 249px; }
  .header-partners .header_sub .btn-row .btn_trans + .btn_trans {
    margin-left: 30px; }
  .insta-carousel-block .insta-link .border-block .text .join {
    margin-top: 3px; }
  .insta-carousel-block .insta-carousel {
    height: 170px; }
  .insta-carousel-block .insta-carousel .item {
    width: 170px;
    height: 170px; }
  .insta-carousel-block .inner {
    margin-top: -170px; }
  .insta-carousel-block .insta-link {
    width: 228px;
    height: 170px; }
  .inner {
    max-width: 680px; }
  .our-products {
    padding-top: 76px;
    padding-bottom: 67px; }
  .our-products .item-1 {
    padding-top: 69px; }
  .our-products .item-1 .img-big {
    margin-top: 50px; }
  .our-products .item-1 .img-big img {
    display: block;
    width: 541px; }
  .our-products .item-1 .img-big canvas {
    display: none; }
  .our-products .item-1 .tech-block {
    margin-top: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .our-products .item-1 .tech-block .tech-item {
    width: 33%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content; }
  .tech-block .tech-item .tech-right .label {
    color: #5b5b5b;
    white-space: pre; }
  .our-products .item-1 .tech-block .tech-item:nth-child(n+4) {
    margin-top: 29px; }
  .our-products .item-2 {
    padding-top: 94px;
    padding-bottom: 77px; }
  .our-products .item-2 .variants-block {
    margin-top: 55px; }
  .variants-block .variant-item .img-block {
    height: 294px; }
  .variants-block .variant-item .img-block img {
    max-width: 56%; }
  .variants-block .variant-item .title-block {
    position: initial;
    height: 50px; }
  .variants-block .variant-item .title-block .link {
    top: 0;
    font-size: 0;
    color: transparent;
    width: 24px;
    height: 24px;
    right: 0;
    display: block;
    background: url(../img/img/link-bg.png) center center no-repeat; }
  .variants-block .variant-item {
    position: relative; }
  .our-products .item-3 {
    padding-bottom: 10px;
    padding-top: 78px; }
  .our-products .item-3 .flex-tech-block {
    margin-top: 39px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .our-products .item-3 .flex-tech-block .right-block {
    max-width: 499px;
    padding-right: 0;
    width: 100%; }
  .our-products .item-3 .flex-tech-block .right-block .img-block {
    width: 111px;
    height: 315px; }
  .our-products .item-3 .flex-tech-block .tech-block {
    max-height: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .our-products .item-3 .flex-tech-block .tech-block .tech-item {
    width: 31%;
    margin-bottom: 34px; }
  .our-products .item-3 .flex-tech-block .tech-block .tech-item + .tech-item {
    margin-top: 0; }
  .our-products .item-3 .flex-tech-block .tech-block .tech-item:nth-child(n+5) {
    margin-left: 0; }
  .our-products .item-3 .flex-tech-block .tech-block .tech-item .tech-right {
    margin-left: 13px;
    font-size: 14px; }
  .our-products .item-3 .flex-tech-block .tech-block .tech-item .img-block {
    width: 35px; }
  .our-products .item-3 .be-partner-block {
    margin-top: 19px; }
  .be-partner-block {
    padding: 37px 30px; }
  .title-20 {
    font-size: 16px; }
  .be-partner-block .flex-block .col-3 {
    display: none; }
  .be-partner-block .flex-block .phone-link {
    font-size: 18px; }
  .be-partner-block .flex-block .call-link {
    display: none; }
  .be-partner-block .flex-block .col-1 .hide {
    display: inline; }
  .be-partner-block .flex-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .its-easy {
    padding-top: 74px;
    padding-bottom: 78px; }
  .its-easy .main-content {
    margin-top: 72px; }
  .its-easy .main-content .easy-grid .easy-item {
    width: 100%;
    padding: 25px 15% 20px 37px;
    height: auto;
    min-height: 234px; }
  .its-easy .main-content .easy-grid .easy-item .text {
    margin-top: 30px; }
  .title-20 {
    letter-spacing: 1.3px; }
  .its-easy .main-content .easy-grid .easy-item:nth-child(2n) {
    padding: 25px 37px 20px 24%; }
  .its-easy .main-content .easy-grid .easy-item:nth-child(2) {
    background-image: url("../images/images/easy-2-2.png");
    background-position: left bottom; }
  .its-easy .main-content .easy-grid .easy-item:nth-child(3) {
    background-image: url("../images/images/easy-3-2.png");
    background-position: right top 14px; }
  .its-easy .main-content .easy-grid .easy-item:nth-child(4) {
    background-size: 105px;
    background-position: left 21px top 30px; }
  .its-easy .main-content .banner-block {
    margin-top: 60px;
    min-height: 462px;
    padding: 55px 42% 49px 40px;
    background-size: auto;
    background-image: url("../images/images/banner-phone-2.jpg");
    background-position: right bottom; }
  .its-easy .main-content .banner-block .title span {
    display: inline; }
  .its-easy .main-content .banner-block .banner-list li {
    background-position: left 2px top -1px;
    padding-left: 36px;
    font-size: 15px;
    line-height: 20px; }
  .its-easy .main-content .banner-block .banner-list li + li {
    margin-top: 12px; }
  .its-easy .main-content .banner-block .banner-list {
    margin-top: 32px; }
  .its-easy .main-content .somnenia-block {
    margin-top: 76px; }
  .its-easy .main-content .somnenia-block .somnenia-item:nth-child(n) {
    width: 44%; }
  .its-easy .main-content .somnenia-block .somnenia-item {
    margin-bottom: 33px; }
  .its-easy .main-content .somnenia-block .somnenia-item .text-sub {
    margin-top: 16px; }
  .its-easy .main-content .somnenia-block .somnenia-item .text {
    line-height: 24px; }
  .its-easy .main-content .somnenia-block .somnenia-item .text span {
    display: none; }
  .its-easy .main-content .banner-block .text {
    max-width: 320px;
    margin-top: 29px; } }

@media screen and (max-width: 700px) {
  .header-partners .header {
    padding-top: 19px; }
  .header-partners {
    height: 635px !important; }
  .title-30 {
    font-size: 20px; }
  .title-40 {
    font-size: 30px; }
  .header-partners .header_sub {
    margin-top: 53px; }
  .header-partners .header_sub h1 {
    max-width: 450px;
    line-height: 25px;
    margin: 0 auto; }
  .header-partners .header_sub .sub-h1 {
    max-width: 380px;
    margin: 0 auto;
    margin-top: 22px; }
  .header-partners .header_sub .btn-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 62px; }
  .header-partners .header_sub .btn-row .btn_trans + .btn_trans {
    margin-left: 0px;
    margin-top: 20px; }
  .header-partners .header_sub .play-btn {
    margin-top: 62px;
    width: 50px; }
  .header-partners .header_sub .text {
    display: none; }
  .header-partners .header_sub .btn-row .btn_trans {
    padding: 15px 10px 16px;
    width: 249px; }
  .insta-carousel-block .insta-carousel {
    display: none; }
  .insta-carousel-block .inner {
    margin-top: 0;
    width: 100%; }
  .insta-carousel-block .insta-link {
    width: 100%;
    height: 150px; }
  .insta-carousel-block .insta-link .border-block img {
    width: 43px;
    margin-bottom: 20px;
    margin-left: 8px; }
  .insta-carousel-block .insta-link .border-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .insta-carousel-block .insta-link .border-block .text {
    text-align: left;
    margin-left: 35px;
    margin-bottom: 19px; }
  .our-products {
    padding-top: 56px;
    padding-bottom: 50px; }
  .our-products .item-1 {
    padding-top: 48px; }
  .our-products .item-block .sub-title-text {
    width: 96%;
    text-align: left;
    margin-top: 24px; }
  .our-products .item-1 .img-big img {
    display: none; }
  .our-products .item-1 .img-big {
    height: 171px;
    background: url("../images/images/battbox_grid.png") center center no-repeat;
    background-size: 545px; }
  .tech-block {
    margin-top: 0 !important;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    padding: 20px 25px !important;
    border: 1px solid #cbcaca;
    display: none; }
  .tech-block .tech-item {
    width: 100% !important; }
  .tech-block .tech-item + .tech-item {
    margin-top: 20px !important; }
  .tech-block-toggle {
    width: 96%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 9px 37px 9px 20px;
    border: 1px solid #cbcaca;
    margin: 33px auto 0;
    color: #5b5b5b;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    background: url(../img/img/arr-down.png) right 23px top 20px no-repeat; }
  .tech-block-toggle.active {
    background-image: url(../img/img/arr-up.png); }
  .our-products .item-2 {
    padding-top: 58px; }
  .our-products .item-2 .variants-block {
    margin-top: 29px; }
  .our-products .item-3 .flex-tech-block .tech-block-toggle {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .our-products .item-3 .flex-tech-block .right-block {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .our-products .item-3 .flex-tech-block .tech-block {
    display: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .variants-block .variant-item {
    max-width: 100%;
    width: 100%; }
  .our-products .item-3 .flex-tech-block .right-block .img-block.hide-mobile {
    display: none; }
  .our-products .custom-swiper {
    width: 268px;
    margin-left: auto;
    margin-top: auto; }
  .variants-block .variant-item .img-block img {
    max-width: 80%;
    max-height: 80%; }
  .custom-swiper .swiper-button-next, .custom-swiper .swiper-button-prev {
    position: initial;
    width: 38px;
    height: 13px;
    background-size: 100%;
    margin: 0; }
  .custom-swiper .swiper-button-next {
    background: url("../img/img/arr-left.png") center center no-repeat; }
  .custom-swiper .swiper-button-prev {
    background: url("../img/img/arr-left.png") center center no-repeat; }
  .custom-swiper .pages-swiper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 209px;
    margin: 25px auto 0; }
  .custom-swiper .swiper-pagination-fraction {
    width: auto;
    font-size: 20px; }
  .custom-swiper .swiper-pagination-fraction .swiper-pagination-current {
    color: #2ebeb9; }
  .custom-swiper .swiper-pagination-fraction .swiper-pagination-total {
    font-size: 14px; }
  .custom-swiper .swiper-pagination {
    position: initial; }
  .variants-block .variant-item .img-block {
    height: 231px; }
  .our-products .item-3 {
    padding-top: 33px; }
  .our-products .item-3 .flex-tech-block .right-block .img-block {
    width: 111px;
    height: 305px; }
  .tech-block {
    width: 96% !important; }
  .our-products .item-3 .flex-tech-block .tech-block .tech-item {
    margin-bottom: 0; }
  .our-products .item-3 .flex-tech-block .right-block .img-block.scale-1 {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }
  .our-products .item-3 .flex-tech-block .right-block {
    width: 75%; }
  .our-products .item-3 .be-partner-block {
    margin-top: 41px; }
  .its-easy .main-content .easy-grid .easy-item {
    background-image: none !important;
    padding: 13px 30px 10px !important;
    min-height: 320px; }
  .easy-grid {
    margin-top: 0px;
    display: -webkit-box; }
  .its-easy .main-content .somnenia-block .somnenia-item:nth-child(n) {
    width: 100%;
    margin: 0; }
  .its-easy .main-content .somnenia-block {
    margin-top: 38px;
    display: -webkit-box; }
  .its-easy .main-content .somnenia-block .somnenia-item .text span {
    display: inline; }
  .its-easy .main-content .be-partner-block {
    margin-top: 53px; }
  .its-easy .main-content .banner-block {
    margin-top: 55px;
    min-height: 640px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 55px 20px 160px 35px;
    background-image: url(../images/images/banner-phone-3.png);
    background-position: center bottom;
    background-size: contain; }
  .its-easy .main-content .banner-block .title {
    font-size: 18px;
    max-width: 250px; }
  .title-20 {
    letter-spacing: 0px; }
  .its-easy .main-content .banner-block .banner-list {
    margin-top: 25px; }
  .its-easy .main-content .banner-block .banner-list li {
    padding-left: 30px;
    font-size: 15px;
    line-height: 20px; }
  .be-partner-block {
    padding: 39px 30px 37px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative; }
  .be-partner-block .flex-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .be-partner-block .flex-block .soc-block {
    margin-top: 0; }
  .be-partner-block .col-2 {
    position: absolute;
    top: 40px;
    right: 45px; }
  .be-partner-block .col-2 .soc-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 168px;
    width: 43px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .be-partner-block .col-2 .soc-item + .soc-item {
    margin-left: 0; }
  .be-partner-block .flex-block {
    margin-top: 34px; }
  .be-partner-block .flex-block .col-1 .hide {
    display: none; }
  .be-partner-block .flex-block .col-3 {
    display: block;
    margin-top: 15px; }
  .be-partner-block .flex-block .label {
    margin-bottom: 5px; }
  .be-partner-block .flex-block .btn-blue {
    margin-top: 37px;
    padding: 14px 0 13px;
    width: 183px; }
  .its-easy .main-content {
    margin-top: 37px; }
  .its-easy {
    padding-top: 55px;
    padding-bottom: 68px; } }

@media screen and (max-width: 1366px) {
  .header-contacts header {
    height: 106px;
    padding-top: 30px; }
  .header-contacts .contacts-page {
    height: calc(100vh - 227px); }
  .header-contacts .contacts-page .contact-inner {
    padding-top: 4%;
    padding-bottom: 8%; }
  .header-contacts .contacts-page .contact-inner .title-block .sub-h1 {
    margin-top: 2.3%; }
  .header-contacts .contacts-page .contact-inner .contact-form-block {
    margin-top: 5%; }
  .header-contacts .contacts-page .contact-inner .address-flex-block {
    margin-top: 5%; } }

@media screen and (max-width: 1000px) {
  .header-contacts header .row .menu {
    margin-right: 0; }
  .header-contacts header {
    height: 105px;
    padding-top: 25px; }
  header-contacts header .row .logo {
    margin-bottom: 0px; }
  .header-contacts header .row {
    padding-bottom: 10px; }
  .header-contacts footer {
    height: 75px; }
  .header-contacts .mini-footer .down-app .app-icon.google {
    display: none; }
  .header-contacts .mini-footer .copy, .header-contacts .mini-footer .user-alig-block {
    width: auto; }
  .header-contacts .mini-footer .copy, .header-contacts .mini-footer .user-alig {
    font-size: 14px; }
  .header-contacts header {
    height: 85px;
    padding-top: 25px; }
  .header-contacts .contacts-page {
    height: calc(100vh - 161px); }
  .header-contacts .contacts-page .contact-inner {
    padding-top: 8%;
    padding-bottom: 20.5%; }
  .header-contacts .contacts-page .contact-inner .title-block .sub-h1 {
    margin-top: 27px; }
  .form-trans-style .row + .row {
    margin-top: 20px; }
  .header-contacts .contacts-page .contact-inner .contact-form-block .agree-block .check-text {
    font-size: 14px;
    line-height: 22px; }
  .form-trans-style button {
    font-size: 13px; }
  .header-contacts .contacts-page .contact-inner .contact-form-block {
    margin-top: 4%; }
  .header-contacts .contacts-page .contact-inner .contact-form-block .row-1 input {
    width: 22%; }
  .header-contacts .contacts-page .contact-inner .address-flex-block {
    margin-top: 4%; }
  .header-contacts header .row .logo {
    margin-bottom: 0px; } }

@media screen and (max-width: 700px) {
  .header-contacts header {
    height: auto;
    padding-top: 17px; }
  .header-contacts header .row {
    padding-bottom: 17px; }
  .header-contacts .contacts-page {
    height: auto; }
  .header-contacts .contacts-page .contact-inner {
    width: 100%;
    padding: 37px 10px 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block; }
  .header-contacts .contacts-page .contact-inner .title-block .sub-h1 {
    margin-top: 26px;
    padding: 0 25px; }
  .header-contacts .contacts-page .contact-inner .address-flex-block {
    margin-top: 47px;
    display: block; }
  .contact-inner .address-flex-block .address-item + .address-item {
    margin-top: 24px; }
  .header-contacts .contacts-page .contact-inner .address-flex-block .address-item .text a.callback-link {
    display: none; }
  .header-contacts .contacts-page .contact-inner .contact-form-block {
    margin-top: 62px; }
    .header-contacts .contacts-page .contact-inner .contact-form-block .row-1 {
      display: block; }
  .header-contacts .contacts-page .contact-inner .contact-form-block .row-1 input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block; }
    .header-contacts .contacts-page .contact-inner .contact-form-block .row-1 input + input {
      margin-top: 20px; }
  .header-contacts .contacts-page .contact-inner .contact-form-block textarea {
    height: 165px; }
  .header-contacts .contacts-page .contact-inner .contact-form-block .row-2 {
    display: block;
    margin-top: 30px; }
    .header-contacts .contacts-page .contact-inner .contact-form-block .row-2 button {
      margin-top: 44px; }
  .header-contacts .mini-footer .user-alig-block {
    display: none; }
  .header-contacts .mini-footer .down-app {
    display: none; }
  .header-contacts footer {
    height: 68px; }
  .header-contacts header .row .logo {
    width: 121px; } }