

*{box-sizing:content-box; outline:none !important;}
html{height:100%; font-size:14px; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; -o-text-size-adjust:100%; -webkit-text-size-adjust:100%; text-size-adjust:100%;}
body{width:100%; height:100%; margin:0 auto; padding:0; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-family: 'Roboto', sans-serif; font-size:16px; line-height:24px; color:#333333; position:relative; font-weight:400; color: #2f2f2f; font-weight: 500;}
h1, h2, h3, h4, h5, h6, p{display:block; margin:0; padding:0; font-weight:400;}
.h1, .h2, .h3, .h4, .h5, .h6{margin:0; padding:0; float:none;}
img, input, textarea, button{border:none; outline:none; font-family: 'Roboto', sans-serif; }
textarea{position:relative; overflow:hidden; resize:none; box-sizing:border-box; display:block; width:100%;}
a{cursor:pointer; color:inherit; text-decoration:none; border:none; outline:none; transition:.3s color, .3s border-color;}
a:hover{text-decoration:none; color: #ceea43;}
table{border-spacing:0;}
td, th{vertical-align:top; word-wrap:break-word;}
ul, nav, dl{margin:0; padding:0; list-style:none;}
button{display:block; cursor:pointer; box-sizing:border-box; padding:0; font-family: 'Roboto', sans-serif; }
/*button:hover, .button:hover{transition: opacity .3s, visibility .3s linear; opacity:0.8;}*/
.flex-wrap{display: -webkit-box;    display: -ms-flexbox;    display: flex; -ms-flex-wrap: wrap;    flex-wrap: wrap;}
.flex-just{-webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between;}
.flex-no_wrap{display: -webkit-box;    display: -ms-flexbox;    display: flex; -ms-flex-wrap: nowrap;    flex-wrap: nowrap;}
.flex-shrink{-webkit-flex-shrink: 0;    -ms-flex-negative: 0; flex-shrink: 0;}
.flex-grow{flex-grow: 0;    -webkit-box-flex: 0;    -webkit-flex-grow: 0;    -ms-flex-positive: 0;}
.inner{width:96.5%; max-width:1140px; margin:0 auto;}
.clear{clear:both; height:1px;}
.fleft{float:left;}
.fright{float:right;}
.db{display:block;}
.inb{display:inline-block;}
.in{display:inline;}
.hide{display:none;}
.hideI{display:none !important;}
.h0{height: 0;}
.w16{width:16.66666666666666%;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w33{width:33.3333333333333%;}
.w33-3{width:33.333333333333%;}
.w40{width:40%;}
.w45{width:45%;}
.w48{width:48%;}
.w50{width:50%;}
.w52{width:52%;}
.w49{width: 48.7%;}
.w50I{width:50% !important;}
.w55{width:55%;}
.w60{width:60%;}
.w65{width:65%;}
.w75{width:75%;}
.w100{width:100%;}
.h100{height:100%;}
.h100vh{height:100vh;}
.h20p{height:20px;}
.tb{display:table;}
.tbc{display:table-cell;}
.vM{vertical-align:middle;}
.vT{vertical-align:top;}
.vB{vertical-align:bottom;}
.rL{position:relative;}
.fixed{position:fixed;}
.abs{position:absolute;}
.hid{overflow:hidden;}
.m0{margin:0;}
.m0I{margin:0 !important;}
.m0a{margin:0 auto;}
.m05{margin:0 5%;}
.p0{padding:0;}
.alCenter{text-align:center;}
.alRight{text-align:right;}
.alLeft{text-align:left;}
.cp{cursor:pointer;}
.cd{cursor:default;}
.zt200{z-index:200;}
.box{box-sizing:border-box;}
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.tbr{display:table-row-group;}
.tr{display:table-row;}
.bgn{background-image:none !important;}
.row{margin:0; float:none;}
.b0{bottom:0;}
.t0{top:0;}
.r0{right:0;}
.l0{left:0;}
.upp{text-transform:uppercase;}
.low{text-transform:lowercase;}
.on_dekstop{display:block;}
.on_mobile{display:none;}
.on_tablet{display:none;}
.on_tablet_and_mobile{display:none;}
.on_tablet_and_dekstop{display:block;}
blockquote{margin:0; padding:0; display:block;}
section{position:relative;}
main{position:relative; clear:both;}
header, nav, section, article, aside, footer, main{display:block;}
#wrapper{width:100%; height:auto; margin:0 auto; position:relative; min-height:100%;}
.cover{background-position:center center; background-repeat:no-repeat; background-size:cover;}
.coverTop{background-position:top center; background-repeat:no-repeat; background-size:cover;}
.contain{background-position:center center; background-repeat:no-repeat; background-size:contain;}
.containTop{background-position:top center; background-repeat:no-repeat; background-size:contain;}
.containBot{background-position:bottom center; background-repeat:no-repeat; background-size:contain;}
.scale{-moz-transition:all 1s ease-out; -o-transition:all 1s ease-out; -webkit-transition:all 1s ease-out; transition:all 1s ease-out;}
.scale:hover{-webkit-transform:scale(1.1); -moz-transform:scale(1.1); -o-transform:scale(1.1); transform: scale(1.1);}
.rotate{transition:0.4s;}
.rotate:hover{-moz-transform:rotate(360deg); -moz-transition-duration:1000ms;-moz-transition-timing-function: ease-out;  -webkit-transform:rotate(360deg); -webkit-transition-duration:1000ms;-webkit-transition-timing-function: ease-out;  -o-transform:rotate(360deg); -o-transition-duration:1000ms; -o-transition-timing-function: ease-out;  transform:rotate(360deg); transition-duration:1000ms;transition-timing-function: ease-out;}
.rad{border-radius:50%;}
.nowrap{white-space:nowrap;}
.fff{color: #fff;}
.zx1{z-index: 1;}

.owl-stage-outer{position:relative; overflow:hidden;}
.owl-stage{position:relative; overflow:hidden;}
.owl-item{position:relative; overflow:hidden; float:left;}
.owl-nav.disabled{display:none;}

.inputbox::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#aeaeae;}
.inputbox::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#aeaeae;}
.inputbox:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#aeaeae;}
.inputbox:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#aeaeae;}
.inputbox:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#aeaeae;}
.textarea::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#aeaeae;}
.textarea:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#aeaeae;}
.textarea:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#aeaeae;}
.textarea:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}

/*.inputbox:focus, .textarea:focus{border-color: rgba(6, 31, 92, 0.8); outline: 0; outline: thin dotted \9;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 52, 67, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 52, 67, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 52, 67, 0.6); }
.inputbox, .textarea{-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border linear 0.2s, box-shadow linear 0.2s; -moz-transition: border linear 0.2s, box-shadow linear 0.2s; -o-transition: border linear 0.2s, box-shadow linear 0.2s; transition: border linear 0.2s, box-shadow linear 0.2s;}*/

/* global */
.g-hidden { display: none; }
.g-line { zoom: 1; }
.g-line:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* modal */
.b-modal { position: relative; margin:0 auto; max-width:450px; width:100%;}
.b-modal_close { background:url(../img/modal_form_close.png) no-repeat top center; width:50px; height:50px; cursor:pointer; z-index:400; position:absolute; top:0; right:0;}
.b-modal_close:hover{ background-position:center bottom;}

.b-modal{position:relative; z-index:990;}

/* modal */
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 11000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; width:100%; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; -moz-border-radius: 10px;  -webkit-border-radius: 10px;  -khtml-border-radius: 10px;  border-radius: 10px; background: #000; color: #fff; }

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}

.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.fancy-bg{display:none;}
#fancybox-outer{background:none;}
#fancybox-left, 
#fancybox-right{background:url(../img/detail_arrow.png) no-repeat; width:23px; height:42px; cursor:pointer; z-index:4000; top:50%; margin-top:-21px; left:-36px;}
#fancybox-right{left:auto; right:-36px; transform:rotate(180deg);}
#fancybox-close{background:url(../img/fancy_close.png) no-repeat; width:31px; height:30px; cursor:pointer; position:absolute; display:block; right:10px; top:-35px; transition:0.4s;}
#fancybox-close:hover{-moz-transform:rotate(360deg); -moz-transition-duration:1000ms;-moz-transition-timing-function: ease-out;  -webkit-transform:rotate(360deg); -webkit-transition-duration:1000ms;-webkit-transition-timing-function: ease-out;  -o-transform:rotate(360deg); -o-transition-duration:1000ms; -o-transition-timing-function: ease-out;  transform:rotate(360deg); transition-duration:1000ms;transition-timing-function: ease-out;}

.ptbold{font-family: 'PTSerif-Bold';}
.reg{font-weight: 400;}
.green-button{background: #18d838; background: -moz-linear-gradient(top, #18d838 0%, #0ebb2b 100%); background: -webkit-linear-gradient(top, #18d838 0%,#0ebb2b 100%); background: linear-gradient(to bottom, #18d838 0%,#0ebb2b 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18d838', endColorstr='#0ebb2b',GradientType=0 ); color: #fff; font-weight: 700; border-bottom: 3px solid #01a41d; -webkit-box-shadow: 0px 12px 13px 0px rgba(72, 183, 91, 0.4);-moz-box-shadow:    0px 12px 13px 0px rgba(72, 183, 91, 0.4);box-shadow:         0px 12px 13px 0px rgba(72, 183, 91, 0.4);}
.green-button:hover{-webkit-box-shadow: 0px 12px 13px 0px rgba(45, 232, 77, 0.44);-moz-box-shadow:    0px 12px 13px 0px rgba(45, 232, 77, 0.44);box-shadow:         0px 12px 13px 0px rgba(45, 232, 77, 0.44); border-color: #06c226; background: #1be83d; background: -moz-linear-gradient(top, #1be83d 0%, #12d533 100%); background: -webkit-linear-gradient(top, #1be83d 0%,#12d533 100%); background: linear-gradient(to bottom, #1be83d 0%,#12d533 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1be83d', endColorstr='#12d533',GradientType=0 );}
.blue{color: #0073ab;}
.section-title{font-size: 48px; line-height: 51px;}