

/* public-styles */
.flex_wrap{display: -webkit-box;    display: -ms-flexbox;    display: flex; -ms-flex-wrap: wrap;    flex-wrap: wrap;}
.flex_just{-webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between;}
.flex_no_wrap{display: -webkit-box;    display: -ms-flexbox;    display: flex; -ms-flex-wrap: nowrap;    flex-wrap: nowrap;}
.flex_shrink{-webkit-flex-shrink: 0;    -ms-flex-negative: 0; flex-shrink: 0;}
.flex_grow{flex-grow: 0;    -webkit-box-flex: 0;    -webkit-flex-grow: 0;    -ms-flex-positive: 0;}
.flex_culumn{-webkit-box-orient: vertical;    -webkit-box-direction: normal;    -ms-flex-direction: column;    flex-direction: column;}
.flex_hcenter{-webkit-box-pack: center;    -ms-flex-pack: center;    justify-content: center;}
.flex_vcenter{-webkit-box-align: center;    -ms-flex-align: center;    align-items: center;}
.flex_column_center{display: -webkit-box;    display: -ms-flexbox;    display: flex; -webkit-box-pack: center;    -ms-flex-pack: center; justify-content: center;    -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;  -webkit-box-orient: vertical; -webkit-box-direction: normal;  -webkit-flex-direction: column; -ms-flex-direction: column;  flex-direction: column;}
.flex_column_center.alLeft{-webkit-box-align: start;    -ms-flex-align: start;    align-items: start;}
.flex_reverse{  -webkit-box-orient: horizontal;      -webkit-box-direction: reverse;      -ms-flex-direction: row-reverse;      flex-direction: row-reverse;}
.blue{color: #2ebeb9;}
.index__page{background-color: #1b1c1e;}

.header{padding-top: 29px;}
.header .row{padding-bottom: 25px;border-bottom: 1px solid rgba(255, 255, 255,0.09)}
.header .row .logo{width: 121px;height: 50px;position: relative;z-index: 110;}

.header .row .menu{margin-top: 12px;}
.header .row .menu li.active a{color: #2ebeb9;}
.header .row .menu li{margin: 0 23px;}
.header .row .langs{margin-top: 13px;margin-left: 40px;}
.header .row .langs li+li{margin-left: 23px;}
.header .row .langs li a{color: #778282;}
.header .row .langs li.active a{color: #fff;}

.top-banner{padding: 67px 0 60px;}
.top-banner h1{font-size: 30px;line-height: 33px;color: #fff;font-weight: 500;}
.top-banner h1+p{line-height: 23px; color: #778282;margin: 20px auto 0; max-width: 654px;}
.top-banner .container{padding-bottom: 15px;	 max-width: 582px;width: 100%; background-image: url(../img/battbox-img.jpg);margin: 40px auto 0; padding-top: 195px;}
.top-banner .container .title-list{margin-bottom: 22px; max-width: 278px; height: 55px;line-height: 54px;font-weight: 500;border-bottom: 1px solid #778282;}
.top-banner .container ul li{color: #778282;}
.top-banner .container ul li+li{margin-top: 9px;}
.top-banner .container ul li span{display: inline-block;vertical-align: middle;min-width: 90px;margin-right: 6px;font-weight: 500;}


.about{background-image: url(../img/about-bg.jpg);}


.footer{background-color: #1b1c1e;padding: 117px 0;}
.footer .foot-header{padding-bottom: 24px;border-bottom: 1px solid rgba(255, 255, 255,0.09)}
.footer .foot-header .logo{width: 186px;height: 50px;}


.footer .foot-header .menu li.active a{color: #2ebeb9;}
.footer .foot-header .menu{margin-top: 12px;	}
.footer .foot-header .menu li{margin: 0 23px;}
.footer .foot-header .langs{padding-left: 100px;margin-top: 13px;	}
.footer .foot-header .langs li+li{margin-left: 23px;}
.footer .foot-header .langs li a{color: #778282;}
.footer .foot-header .down-app{display: none;}
.footer .content-block{padding-top: 58px;padding-bottom: 60px;border-bottom: 1px solid rgba(255, 255, 255,0.09); line-height: 25px;color: #778282;}
.footer .content-block .left_side{max-width: 400px;width: 100%;}
.footer .content-block a{color: #778282}
.footer .content-block .social{width: 32px;margin-top: 5px;	}
.footer .content-block .social a{height: 25px;background-position: top center ;background-repeat: no-repeat;}
.footer .content-block .social a:hover{background-position: bottom center;}
.footer .content-block .social a+a{margin-top: 37px;}
.footer .content-block .phone-link{margin-top: 25px;}
.footer .content-block .phone-link a{font-size: 22px;line-height: 25px;}
.footer .content-block .btn-call-modal a{text-decoration: underline;}
.footer .content-block .btn-mail{margin-top: 28px;}
.footer .content-block .btn-mail a{color: #2ebeb9;}
.footer .content-block .copy{margin-top: 80px;}
.footer .bottom-block{padding-top: 38px;	}
.footer .down-app .get{width: 187px;height: 61px;}
.footer .down-app .get a{border-radius: 15px;}
.footer .down-app .get+.get{margin-left: 25px;	}
.footer .bottom-block .down-app{margin-right: 82px;	}
.footer .bottom-block .user-alig{color: #778282;text-decoration: underline;}
.footer .bottom-block .develop{color: #778282;}
.footer .bottom-block .develop a{border: 2px solid #778282;height: 49px;width: 126px;font-size: 14px;line-height: 17px;text-transform: uppercase;color: #778282;text-align: center;padding: 6px;margin-left: 7px;	}
.footer .bottom-block .develop a span:first-child{letter-spacing: 1px;}
.footer .bottom-block .develop a span:last-child{letter-spacing: -0.6px;}



.slider-block .slide{width: 100%;}
.slider-block .item{height: 1000px;flex-shrink: 0;}
.slider-block .item .left_side{background-image: url(../img/slider-left-side-bg.jpg);box-sizing: border-box;padding: 50px 160px 50px 0;}
.slider-block .item .left_side img{max-width: 100%;flex-shrink: 0;max-height: 100%;}
.slider-block .item .left_side img.position-right{margin-left: auto;}
.slider-block .item .right_side{background-color: #232828;box-sizing: border-box;padding-left: 120px;}
.slider-block .item .right_side h3{font-size: 30px;line-height: 40px;font-weight: 500;max-width: 450px;margin-top: 45px;}

.slider-block .item .right_side p{margin-top: 70px; max-width: 480px;}
.slider-block .item .right_side{flex-direction: column;align-items: flex-start;justify-content: center;}

.slider-block .item .right_side .swiper-pagination{font-size: 0;position: absolute;bottom: 60px;right: 60px;left: auto;width: auto;}
.slider-block .item .right_side .swiper-pagination-current{font-size: 375px;font-weight: 300;opacity: 0.03;}
.swiper-button-next{background-image: url(../img/slider-arrow.png);width: 37px;height: 11px;background-size: contain;transform: rotate(180deg);position: relative;top: auto;margin-top: 0;left: auto;}
.swiper-button-prev{background-image: url(../img/slider-arrow.png);width: 37px;height: 11px;background-size: contain;position: relative;top: auto;margin-top: 0;left: auto;}

.about-block{min-height: 1003px;background-image: url(../img/about-block-bg.jpg);}
.about-block .top-title{font-size: 30px;line-height: 38px; top: -1px; height: 500px;width: 100%;background-color: #1b1c1e;align-items: center;justify-content: center;  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);clip-path: polygon(50% 100%, 0 0, 100% 0);}
.about-block .top-title span{color: #2ebeb9;}
.about-block .row .item{display: flex;justify-content: center;align-items: center;flex-direction: column;}
.about-block .row .item:nth-child(1){bottom: 185px;left: 0;width: 100%;}
.about-block .row .item:nth-child(3){height: 100%;width: 49.5%;-webkit-clip-path: polygon(100% 50%, 0 100%, 0 0);clip-path: polygon(100% 50%, 0 100%, 0 0);top: 20px;left: -55px;padding-left: 55px;	box-sizing: border-box;}
.about-block .row .item:nth-child(2){height: 100%;width:49.6%;-webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0);clip-path: polygon(0 50%, 100% 100%, 100% 0);top: 20px;right: -55px;padding-right: 55px;	box-sizing: border-box;}
.about-block .row .item .value .ruble{display: inline-block;vertical-align: middle; width: 69px;height: 71px;background-image: url(../img/ruble-sign.png);}
.about-block .row .item .value{font-size: 100px;line-height: 103px;font-weight: 300;}

.about-block .row .item p{font-size: 22px;line-height: 25px;}

.departing-block{transform: scale(0); background-image: url(../img/departing-bg.jpg);padding: 125px 0 108px;}
.departing-block h2{font-size: 30px;line-height: 33px;color: #fff;font-weight: 500;margin-bottom: 22px;	}
.departing-block p{color: #778282;}
.departing-block .container{margin-top: 51px;padding-top: 50px;	}
.departing-block .container .btn-close{height: 27px;width: 27px;background-image: url(../img/close.png);}
.departing-block .container .left_side .phone-icons img+img{margin-left: 28px;}
.departing-block .container .left_side p{margin-top: 23px;line-height: 22px; max-width: 270px;color: #fff;}
.departing-block .container .left_side .capacity-icon{margin-top: 72px;transform: scale(1.5);margin-left: 7px;}
.departing-block .container .left_side .certified{margin-top: 190px;	 padding: 10px 15px; border: 1px solid rgb(119, 130, 130);border-radius: 10px;height: 70px;width: 313px;}
.departing-block .container .left_side .certified span{color: #778282;}
.departing-block .container .left_side .certified .row span{font-size: 26px;line-height: 29px;font-weight: 500;position: relative;}
.departing-block .container .left_side .certified .row img{flex-shrink: 0;margin-right: 7px;	}
.departing-block .container .left_side .certified .row span:not(:last-child):after{content: '';position: absolute;top: 50%;height: 27px;width: 1px; background-color: #778282;margin-top: -13.5px;right: 0;}
.departing-block .container .left_side .certified .row span:not(:last-child){box-sizing: border-box;padding-right: 14px;	}
.departing-block .container .left_side .certified .row span+span{margin-left: 13px;	}

.departing-block .container .left_side  .certified__text{color: #778282;margin-top: 20px;	}
.departing-block .container .right_side{max-width: 273px;width: 100%;margin-top: -6px;	}
.departing-block .container .right_side .title-list{margin-bottom: 37px;  font-weight: 500;}
.departing-block .container .right_side ul li{color: #778282;}
.departing-block .container .right_side ul li+li{margin-top: 10px;}
.departing-block .container .right_side ul li span{display: inline-block;vertical-align: middle;min-width: 90px;margin-right: 6px;font-weight: 500;}
.departing-block  .mobile-list .list-title{margin-top: 345px;	 height: 41px;line-height: 39px;border: 1px solid rgb(119, 130, 130);font-size: 14px;color: #778282;padding: 0 22px;}
.departing-block  .mobile-list .list-title:after{content: '';position: absolute;top: 50%;width: 11px;height: 6px;margin-top: -3px;	background-image: url(../img/list-arrow.png);right: 23px;}
.departing-block  .mobile-list ul li{position: relative;box-sizing: border-box;padding-left: 35px;	margin-top: 32px;	}
.departing-block  .mobile-list ul li+li{margin-top: 20px;	}
.departing-block  .mobile-list ul li:before{content: '';position: absolute;top: 4px;width: 18px;height: 14px;left: 0;background-image: url(../img/mobile-list-before.png);}
