.custom-check-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .custom-check-block .custom-check {
    margin-top: 2px; }
  .custom-check-block .custom-check input {
    display: none; }
  .custom-check-block .custom-check .check-block {
    width: 13px;
    height: 13px;
    -webkit-box-shadow: 0 4px 6px rgba(181, 181, 181, 0.1);
            box-shadow: 0 4px 6px rgba(181, 181, 181, 0.1);
    border: 1px solid #c7c7c7;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: inline-block; }
  .custom-check-block .custom-check input:checked ~ .check-block {
    background-image: url("../img/img/icon-cheked.svg");
    border: 1px solid #17d637; }
  .custom-check-block .check-text {
    margin-left: 10px;
    color: #373737;
    font-size: 16px;
    font-weight: 400; }
    .custom-check-block .check-text a {
      border-bottom: 1px solid #2b8fac; }
  .custom-check-block.required-input .check-text {
    font-weight: 700; }
    .custom-check-block.required-input .check-text::after {
      content: "*";
      display: inline;
      color: #dd0507;
      margin-left: 5px; }

.drop-reg {
  border: 5px solid #17d537; }

.drop-reg .dt li:first-child {
  width: 107px; }

.drop-reg .dt li:nth-child(2) {
  width: 175px; }

.drop-reg .dd .item .green-button {
  margin-bottom: 15px; }

.drop-reg .dd .item .custom-check-block {
  margin-bottom: 15px; }

.drop-reg .dd .item .forgot-pass .link-block + .link-block {
  margin-top: 15px; }

.input-block .label {
  color: #3a3a3a;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px; }
  .input-block .label span {
    font-weight: 400;
    color: #7a7a7a; }

.input-block.required-input .label::after {
  content: "*";
  display: inline;
  color: #dd0507;
  margin-left: 5px; }

.input-block.public-input .label {
  background: url("../img/img/eye.svg") right top 5px no-repeat; }

.input-block input, .input-block select {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 39px;
  line-height: 10px;
  padding: 0 13px;
  font-size: 18px;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 4px 6px rgba(181, 181, 181, 0.1);
          box-shadow: 0 4px 6px rgba(181, 181, 181, 0.1);
  background-color: #ffffff; }
  .input-block input:invalid, .input-block select:invalid {
    border-color: #dd0507; }
  .input-block input::-webkit-input-placeholder, .input-block select::-webkit-input-placeholder {
    color: #aeaeae; }
  .input-block input:-ms-input-placeholder, .input-block select:-ms-input-placeholder {
    color: #aeaeae; }
  .input-block input::-ms-input-placeholder, .input-block select::-ms-input-placeholder {
    color: #aeaeae; }
  .input-block input::placeholder, .input-block select::placeholder {
    color: #aeaeae; }

.input-block select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  line-height: 1.3;
  background-image: url("../img/img/icon-arrow.svg");
  background-position: right 8px center;
  background-repeat: no-repeat; }
  .input-block select::-ms-expand {
    display: none; }
  .input-block select:invalid {
    color: #aeaeae; }
  .input-block select option {
    color: #333333; }

.registraion-block .registration-inner {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  background: #ededed;
  border: 5px solid #17d537;
  -webkit-box-shadow: 0px 12px 45px 0px rgba(39, 39, 39, 0.48);
          box-shadow: 0px 12px 45px 0px rgba(39, 39, 39, 0.48);
  z-index: 1; }
  .registraion-block .registration-inner .title-row {
    background-color: #105e90;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .registraion-block .registration-inner .title-row::after {
      content: "";
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top-color: #105e90;
      border-bottom: 0;
      position: absolute;
      left: calc(50% - 5px);
      top: 100%; }
    .registraion-block .registration-inner .title-row .btn-reg-modal {
      height: 100%;
      width: 62px;
      -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.07);
              box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.07);
      background-color: #0a507d;
      background-repeat: no-repeat;
      background-position: center center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer; }
      .registraion-block .registration-inner .title-row .btn-reg-modal img {
        opacity: 0.7; }
      .registraion-block .registration-inner .title-row .btn-reg-modal:hover img {
        opacity: 1; }
    .registraion-block .registration-inner .title-row .reg-title {
      color: #ffffff;
      font-family: "'PTSerif-Bold'";
      font-size: 24px; }
  .registraion-block .registration-inner form .inputs-block {
    background-color: #ededed;
    padding: 30px 8.41% 50px; }
    .registraion-block .registration-inner form .inputs-block .reg-warning-block {
      width: 100%;
      padding: 20px 30px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-box-shadow: 1px 1px 9px 1px rgba(138, 215, 255, 0.48);
              box-shadow: 1px 1px 9px 1px rgba(138, 215, 255, 0.48);
      background-color: #afe4ff; }
      .registraion-block .registration-inner form .inputs-block .reg-warning-block .reg-warning {
        padding-left: 19px;
        position: relative;
        color: #000000;
        font-size: 18px;
        line-height: 28px; }
        .registraion-block .registration-inner form .inputs-block .reg-warning-block .reg-warning::before {
          content: "";
          width: 3px;
          height: 80%;
          background-color: #009be8;
          position: absolute;
          left: 0;
          top: 10%;
          -webkit-box-shadow: 3px 4px 5px rgba(130, 200, 227, 0.55);
                  box-shadow: 3px 4px 5px rgba(130, 200, 227, 0.55); }
    .registraion-block .registration-inner form .inputs-block .inputs-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .registraion-block .registration-inner form .inputs-block .inputs-flex .input-block {
        width: 30.88%;
        margin-top: 27px; }
    .registraion-block .registration-inner form .inputs-block .inputs-flex-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .registraion-block .registration-inner form .inputs-block .inputs-flex-block .left-inputs {
        width: 65.44%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .registraion-block .registration-inner form .inputs-block .inputs-flex-block .left-inputs .input-block {
          width: 47.19%;
          margin-top: 27px; }
      .registraion-block .registration-inner form .inputs-block .inputs-flex-block .right-inputs {
        width: 30.88%;
        margin-top: 52px; }
        .registraion-block .registration-inner form .inputs-block .inputs-flex-block .right-inputs .custom-check-block + .custom-check-block {
          margin-top: 13px; }
        .registraion-block .registration-inner form .inputs-block .inputs-flex-block .right-inputs .custom-check-block .custom-check {
          margin-top: 4px; }
        .registraion-block .registration-inner form .inputs-block .inputs-flex-block .right-inputs .custom-check-block .check-text {
          font-size: 18px;
          line-height: 28px; }
  .registraion-block .registration-inner form .btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e3e3e3;
    padding: 30px 8.41% 40px; }
    .registraion-block .registration-inner form .btn-block .green-button {
      font-size: 21px;
      line-height: 52px;
      width: 290px; }
    .registraion-block .registration-inner form .btn-block .required-info {
      color: #d00002;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      position: relative;
      padding-left: 16px;
      position: relative; }
      .registraion-block .registration-inner form .btn-block .required-info::before {
        content: "";
        width: 3px;
        height: 80%;
        background: #d00002;
        position: absolute;
        left: 0;
        top: 10%;
        -webkit-box-shadow: 1px 2px 4px rgba(220, 140, 141, 0.55);
                box-shadow: 1px 2px 4px rgba(220, 140, 141, 0.55); }
    .registraion-block .registration-inner form .btn-block .public-info {
      color: #7a7a7a;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      padding-left: 35px;
      background: url("../img/img/eye.svg") left top 6px no-repeat; }
    .registraion-block .registration-inner form .btn-block .required-info, .registraion-block .registration-inner form .btn-block .public-info {
      width: 30.85%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }

.mobile-menu .menu form .input-block + .input-block {
  margin-top: 15px; }

.mobile-menu .menu form .input-block + .custom-check-block {
  margin-top: 15px; }

.mobile-menu .menu form .input-block .label {
  font-size: 16px;
  margin-bottom: 0; }